/*
#062D66 - blue
#0BB19D - contact us
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body, html {
    height: 100%;
}

header {
    height: 15vh;
    width: 100%;
    border: 1px solid black;
    display: flex;
    background-color: #062D66;
}

.nav, .logo {
    flex: 1;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > img {
    height: 100%;
}

.nav > menu {
    display: flex;
    list-style: none;
    gap: 1.3em;
}

.nav > menu > li > a{
    color: white;
    text-decoration: none;
    font-size: 1.7em;
}


.masthead {
    height: 85vh;
    border: 1px solid black;
    background: linear-gradient(#00000080, #00000080), url(../4.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15em;

    position: relative;
}

.mastheadText {
    color: white;
    font-size: 5em;
}

.mastheadArrow {
    position: absolute;
    bottom: 7em;
    height: 3em;
    width: 3em;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg);
    transition: .3s ease;
    border-radius: 3px;
}

.mastheadArrow:hover {
    height: 3.7em;
    width: 3.7em;
    transition: .3s ease;
}

.title {
    height: 70vh;
    background-color: #062D66;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4em;
    padding: 0 5em 12em 5em;
    text-align: center;
    color: white;
}

.title > h1 {
    font-size: 4em;
} 

.title > p {
    font-size: 1.5em;
}

.images {
    height: 60vh;
    display: flex;
    background-color: #062D66;
    position: relative;
}

.images > img {
    flex: 1;
}

.images > img:hover{
    opacity: .6;
    transition: .3s ease;
}

.images > p {
    position: absolute;
    z-index: 100;
    color: white;
    font-size: 2em;
    top: 35vh;
    display: block;
}

.imageText1 {
    left: 15%
}

.imageText2 {
    right: 20%;
}

.image1 {
    clip-path: polygon(0 0, 50% 10%, 100% 19%, 100% 100%, 51% 100%, 0 100%);
}

.image2 {
    clip-path: polygon(0 19%, 50% 10%, 100% 0, 100% 100%, 51% 100%, 0 100%);
}
